---
import { setPagemeta } from "@grepco/pagemeta/runtime";

setPagemeta({
    ctx: Astro,
    metadata: {
        description: "Test page description",
        title: "Test Page Title"
    }
});
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <p>Hello world</p>
    </body>
</html>
