---
// No setPagemeta call - should get function defaults based on context
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <p>Page with function defaults</p>
    </body>
</html>
