---
// No setPagemeta call - tests that function defaults override template title
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Template Title</title>
    </head>
    <body>
        <p>Template has a title, but function defaults should override it</p>
    </body>
</html>
