---
import { setPagemeta } from "@grepco/astro-pagemeta/runtime";

setPagemeta(Astro, {
    description: "Rewrite target description",
    title: "Rewrite Target Title"
});
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <p>Rewrite target content</p>
    </body>
</html>
