---
import { setPagemeta } from "@grepco/astro-pagemeta/runtime";

setPagemeta(Astro, {
    description: "English page description",
    title: "English Page"
});
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <p>English content</p>
    </body>
</html>
