---
import { setPagemeta } from "@grepco/astro-pagemeta/runtime";

// Sets only title - demonstrates all 3 sources contributing:
// - Template: charset, generator, og:site_name (preserved)
// TODO Clean up
// - Function defaults: author (added), description uses pathname
// - setPagemeta: title (overrides function default)
//
// Template metadata survives because:
// - generator: rehype-meta doesn't manage this tag
// - og:site_name: rehype-meta manages it, but we didn't set it via defaults/setPagemeta
setPagemeta(Astro, {
    title: "Title from setPagemeta"
});
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            content="Astro"
            name="generator"
        />
        <meta
            content="Template Site Name"
            property="og:site_name"
        />
        <title>Template Title</title>
    </head>
    <body>
        <p>
            Full cascade: template meta + function defaults + setPagemeta all
            contribute
        </p>
    </body>
</html>
