---
import { setPagemeta } from "@grepco/astro-pagemeta/runtime";

setPagemeta(Astro, false);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <p>Page opted out of metadata</p>
    </body>
</html>
