---
import { setPagemeta } from "@grepco/astro-pagemeta/runtime";

setPagemeta(Astro, {
    description: "Description for headless page",
    title: "Title for Headless Page"
});
---

<!doctype html>
<html lang="en">
    <body>
        <p>Page with no head element - rehype-meta should create one</p>
    </body>
</html>
