---
import { setPagemeta } from "@grepco/astro-pagemeta/runtime";

// Sets title (overrides template) and description (adds new)
// Template's generator meta should be preserved
setPagemeta(Astro, {
    description: "Description from setPagemeta",
    title: "Title from setPagemeta"
});
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            content="Astro"
            name="generator"
        />
        <title>Template Title</title>
    </head>
    <body>
        <p>
            Tests setPagemeta overriding template title while preserving other
            template metadata
        </p>
    </body>
</html>
